<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>main</title>

<link rel="stylesheet" href="/resource/common.css" />
<!-- 제이쿼리 -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<body>

<div>work!!</div>

<section id="foot">
    <div class="foot-lists">
        <div class="foot-list1">
            <p>법인명 : 아이엠뮤직앤아트</p>
            <p>대표 : 허원경</p>
        </div>

        <div class="foot-list2">
            <p>이메일 : immusic.manager@gmail.com</p>
            <!--            <p>고유번호 : 389-80-02150</p> -->
            <!--        <p>주소 : 경기도 수원시 팔달구 행궁로84번길 23, 104호(교동, 헤이스탑 빌딩)</p> -->
            <!--        <p>개인정보보호책임자 : 원유현</p> -->
        </div>

        <div class="foot-list3">
            <p>COPYRIGHT © IMMusic&Art. 2024 ALL RIGHTS RESERVED.</p>
        </div>

    </div>
</section>

<style>
#foot {
    width: 100%;
    height: 150px;
    background-color: #0d121d;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
}

.foot-lists {
    margin-left: 70px;
}

.foot-list1 {
    margin-top: 10px;
    font-size: 14px;
    display: flex;
}

.foot-list1 p {
    margin-right: 40px;
    position: relative;
}

.foot-list2 {
    font-size: 14px;
    text-align: left;
}

.foot-list3 {
    text-align: right;
    margin-right: 70px;
    margin-top: 30px;
    font-size: 12px;
}

/* 구분선 추가 */
.foot-list1 p:nth-child(1)::after {
    content: "|";
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    color: white;
}
</style>

<!-- 페이지 상단 이동 버튼 -->

<div class="btn_gotop">
    <a href="#">
        <!--        <i class="fa-solid fa-arrow-up"></i> -->
        TOP
    </a>
</div>

<style>
.btn_gotop {
    /*  display: none; */
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    border: 1px solid #ccc;
    outline: none;
    background-color: #f2ede2;
    color: #333;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    display: flex; /* 내용을 가운데 정렬하기 위해 Flex 사용 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;
    right: 30px; /* 수직 가운데 정렬 */
}

.btn_gotop:hover {
    background-color: #b3a78f;
}
</style>

<script>
    $(function() {
        $('.btn_gotop').hide();

        $(window).scroll(function() {
            if ($(this).scrollTop() > 250) {
                $('.btn_gotop').fadeIn();
            } else {
                $('.btn_gotop').fadeOut();
            }
        });

        $('.btn_gotop').click(function() {
            $('html, body').animate({
                scrollTop : 0
            }, {
                duration : 400
            });
            return false;
        });
    });
</script>

</body>
</html>
